<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=”UTF-8″/>
        <title>Proyecto</title>
        <link rel="stylesheet" href="css/main.css" type="text/css" />
        <link rel="stylesheet" href="css/normalize.css" type="text/css" />
        <script src="https://kit.fontawesome.com/190781bd85.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navegacion">
                <h1 class="logotipo"><img src="img/logotipo.jpeg"></h1>
                <ul>
                    <li><a href="proyecto">Inicio</a></li>
                    <li><a href="problematica">Problematica</a></li>
                    <li><a href="proponer">¿Qué proponemos?</a></li>
                    <li><a href="login">Cuestionario</a></li>
                </ul>
            </nav> 
        </header>
        <div id="problematica-fondo" class="Problematica">
            <h2 class="problematica-h2">¿QUE SIGNIFICA EL CAMBIO CLIMATICO?</h2>
            <p class="problematica-p">A medida que le tiempo pasa el aumento de la temperatura global provocado por las emisiones a la atmósfera de gases de efecto invernadero derivadas de la actividad humana provocan variaciones en el clima completamente antinaturales.
            </p>
        </div>
        <div class="prom-info">
            <div>
                <h3>¿Que causa y como nos afecta?</h3>
                <p>Según uno de los últimos informes del IPCC (Grupo Intergubernamental de Expertos sobre el Cambio Climático), un calentamiento global de más de 1,5°C causaría perturbaciones climáticas sin precedentes, tales como: tormentas mayores y más intensas, lluvia seguida de sequías más prolongadas e intensas, etc. </br> Estos fenómenos climáticos extremos podrían ser más frecuentes e intensos y tener repercusiones irreversibles en el medio ambiente.
                 En base a esto se puede determinar que la principal causa del cambio climático es el efecto invernadero, esté es un fenómeno natural que contribuye a mantener el nivel de temperatura media de la superficie terrestre. Sin embargo, cuando los gases de efectos de la atmósfera retienen el calor, provocan la intensificación de este fenómeno. O sea, cuantos más gases de efecto invernadero hay en la atmósfera, más calor es retenido. Es lo que produce el calentamiento global.
                 </p>
            </div>
        </div>
        <small class="chiquito"><i class="fa-solid fa-angle-left"></i>  DESCUBRE QUE PUEDES HACER CONTRA EL CAMBIO CLIMATICO</small>
        <footer class="pie-pagina">
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="img/logotipo.jpeg" alt="logo-footer">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Somos un grupo encargado de proporcionar conocimiento sobre el calentamiento global</p>
                    <p>Buscando generar conciencia sobre el rumbo que estamos escogiendo en nuestro planeta</p>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2> 
                    <div class="redes-sociales">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy; 2022 <b>Univerisdad Simon Bolivar</b> - Todos los Derechos Reservados</small>
            </div>
        </footer>
    </body>
</html>