<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=”UTF-8″/>
        <title>Proyecto</title>
        <link rel="stylesheet" href="css/main.css" type="text/css" />
        <link rel="stylesheet" href="css/normalize.css" type="text/css" />
        <script src="https://kit.fontawesome.com/190781bd85.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <nav class="navegacion">
                <h1 class="logotipo"><img src="img/logotipo.jpeg"></h1>
                <ul>
                    <li><a href="proyecto">Inicio</a></li>
                    <li><a href="problematica">Problematica</a></li>
                    <li><a href="proponer">¿Qué proponemos?</a></li>
                    <li><a href="login">Cuestionario</a></li>
                </ul>
            </nav> 
        </header>
        <div id="fondo" class="contenedor">
            <div class="centrado"><h2 class="H2">CAMBIO CLIMATICO</h2></div>
            <div class="centrado-abajo"><p class="H2">ACCION POR EL CLIMA</p></div>
            <div class="contenedor-cajas">
             <div class="caja1"><h3>¿QUÉ SIGNIFICA CAMBIO EL CLIMATICO?</h3>
                 <div><p>El cambio climático es la consecuencia del calentamiento </br> global de la Tierra. Esto es, el aumento general de la </br> temperatura en el planeta y que se produce por las emisiones </br> tóxicas que el ser humano genera en sus actividades.</p></div> 
                </div>
                <div class="caja2"><h3>¿QUE LLEVAREMOOS ACABO?</h3>
                 <div><p>Somos un grupo de jovenes de la univerisdad simon bolivar </br> mediante este sitio web nosotros planemos informar a  </br> la poblacion sobre los daños que le estamos causando a nuestro</br> planeta, para lograr una mejora significativa.   </p></div>
                </div>
                <div class="caja3"><h3>¿QUE OBJETIVOS TENEMOS?</h3>
                    <div><p>Nosotros planeamos por medio de nuestra web, realizar un  </br> sitio web con un cuestionario interactivo con el cual  </br> poner a prueba sus conocimientos y avanzar en su aprendizaje  </br> sobre como se debe cuidar nuestro planeta.  </p></div>
                </div>
         </div>
        </div> 
        <footer class="pie-pagina">
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <a href="#">
                            <img src="img/logotipo.jpeg" alt="logo-footer">
                        </a>
                    </figure>
                </div>
                <div class="box">
                    <h2>SOBRE NOSOTROS</h2>
                    <p>Somos un grupo encargado de proporcionar conocimiento sobre el calentamiento global</p>
                    <p>Buscando generar conciencia sobre el rumbo que estamos escogiendo en nuestro planeta</p>
                </div>
                <div class="box">
                    <h2>SIGUENOS</h2> 
                    <div class="redes-sociales">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </div>
                </div>
            </div>
            <div class="grupo-2">
                <small>&copy; 2022 <b>Univerisdad Simon Bolivar</b> - Todos los Derechos Reservados</small>
            </div>
        </footer>
    </body>
</html>